<ion-view view-title="Login">
    <ion-content class="padding">
    	
    	<form ng-submit="login ()" id = "loginButtons">
      		<div class="list">
        		<label>
          			<span >Gebruikersnaam</span>
          			<input type="text" ng-model="loginData.username">
        		</label>
        		<label>
		          <span ">Wachtwoord</span>
		          <input type="password" ng-model="loginData.password">
        		</label>
        		<label>
          			<button id = "loginButton" class="button button-assertive" type="submit">Log in</button>
        		</label>
            <label>
                <button id = "registerButton" class="button button-assertive" type="button">Registreren</button>
            </label>
      		</div>
    	</form>
		
    </ion-content>
</ion-view>