<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <!-- Uncomment dit als je titel wilt boven het menutje links
    <ion-header-bar class="bar-stable">
      <h1 class="title"></h1>
    </ion-header-bar>
    -->
    <ion-content>
      <ion-list>
         <ion-item menu-close href="#/app/login">
          Login
        </ion-item>
         <ion-item menu-close href="#/app/profile">
          My profile
        </ion-item>
        <ion-item menu-close href="#/app/dashboard">
          My Dashboard
        </ion-item>
         <ion-item menu-close href="#/app/buy">
          Buy Credits
        </ion-item>
        <ion-item menu-close href="#/app/scanner">
          Scan Bottle
        </ion-item>
         <ion-item menu-close href="#/app/juicesoftheday">
          Juices of the Day
        </ion-item>
         <ion-item menu-close href="#/app/invite">
          Invite Someone
        </ion-item>
         <ion-item menu-close href="#/app/gift">
          Gift
        </ion-item>
         <ion-item menu-close href="#/app/vote">
          Vote
        </ion-item>
         <ion-item menu-close href="#/app/jokeoftheday">
          Joke of the Day
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
