<ion-view view-title="Scanner">
    <ion-content class="padding">
    	
    	<button ng-click = "scanBarcode ()">Scan</button><br><br>

    	<p>Bottle Token: {{ bottleToken }} | Juice Id: {{ juiceId }}</p><br>

		<button id = "addButton" ng-click = "addShot ()" disabled>Add Shot</button><br>
    	<button id = "cancelButton" ng-click = "cancelShot ()" disabled>Cancel</button>

    	<p>Ingredienten:</p>
    	<ul>
    		<li ng-repeat = "i in ingredients">{{ i.Ingredient.Name}}: {{ i.Ingredient.Amount_g }} g</li>
    	</ul>

    	<p>Voedinsstoffen:</p>
    	<ul>
    		<li ng-repeat = "n in nutrients">{{ n.Nutrient.Name}}: {{ n.Nutrient.Amount_g * 1000 | number: 4 }} mg</li>
    	</ul>
		
    </ion-content>
</ion-view>