<ion-view view-title="Scanner">
    <ion-content class="padding">

      <div id="scannerButtons" class="w3-container">


    	<button  id="scanButton"class="button button-assertive" ng-click = "scanBarcode ()">Scan</button><br><br>

    	<p>Bottle Token: {{ bottleToken }}</p><br>
      <p>Juice Id: {{ juiceId }}</p><br>

		  <button id = "addButton" class="button button-assertive" ng-click = "addShot ()" disabled>Add Shot</button>
    	<button id = "cancelButton" class="button button-assertive" ng-click = "cancelShot ()" disabled>Cancel</button>


    	<p>Ingredienten:</p>
    	<ul>
    		<li ng-repeat = "i in ingredients">{{ i.Ingredient.Name}}: {{ i.Ingredient.Amount_g }} g</li>
    	</ul>

    	<p>Voedinsstoffen:</p>
    	<ul>
    		<li ng-repeat = "n in nutrients">{{ n.Nutrient.Name}}: {{ n.Nutrient.Amount_g * 1000 | number: 4 }} mg</li>
    	</ul>
      </div>

    </ion-content>
</ion-view>
