/* Empty. Add your own CSS if you like */

/*=============== MENU BAR =====================*/


/*=============== FULL APP =====================*/

ion-view {
	background-image: url("../img/wood.png");
	background-size: 100% 100%;
	font-family: sans-serif;
    /*background-repeat: no-repeat;*/
}

.padding {
	padding: 0;
}


/*=============== HOME =====================*/

/*.home-page {
	background-image: url("/img/bos2.png");
	height: 90vh;
	background-attachment: fixed;
}*/

#menu {
	margin: auto;
	width: 50%;
	text-align: center;
}

.home img {
	height: 200px;
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

h1 {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.85);
}

h1 img {
	height: 100px;
}

@media screen and (max-width: 840px){
	/*.home #menu {
		width: 70%;
	}*/
	.home img {
		height: 150px;
		width: 150px;
	}
}

@media screen and (max-width: 470px){
	.home #menu {
		width: 100%;
	}

	#usr {
		width: 100%;
		margin-left: 10px;
	}
}

#usr {
	margin: auto;
	margin-top: 1rem;
	padding: 1rem;
	width: 100%;
	color: #422919;
	text-shadow: 0 0 1rem black;
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	position: absolute;
	z-index: 1;
	background-image: url("../img/board.png");
	background-size: 100% 100%;
}

/*=======================================*/

/*============= DASHBOARD ===============*/

#dashboard-buttons {
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.75);
}

#dashboard-buttons button {
	width: 20%;
	height: 27px;
	background-color: #C86D24;
}

#dashboard-buttons .navigateButton {
	font-weight: bold;
	font-size: 20px;
	width: auto;
	height: auto;
	margin: -0.5rem 0; /*Moet hierin blijven, anders gaat de witte balk (achtergrond) een andere grootte aannemen dan bij allTime*/
	padding: 0 1rem;
	border: 0;
	background-color: transparent;
}

#allTime, #perWeek, #perMonth {
	padding-top: 10px;
	font-size: 20px;
}

#graph {
	text-align: center;
	margin: auto;
	margin-top: 10px;
	padding-left: 10px;
	width: 90%;
	background-image: url("../img/chalk.jpeg");
	background-size: auto 100%;
	border-style: solid;
	border-width: 6px;
	border-color: #C86D24;
	color: #FFFFFF;
}

#graph h3 {
	color: #FFFFFF;
}

#graphbutton {
	text-align: center;
	margin-top: 20px;
}

#graphbutton button {
	width: 45%;
	padding: .5rem;
	margin: 1%;
	font-size: 80%;
	background-color: rgba(89, 89, 89, 0.80);
	border-radius: 2px;
	color: #e2e2e2;
	border: 0;
	letter-spacing: 1px;
	font-weight: bold;
}

#graph li {
	letter-spacing: 2px;
	font-size: 16px;
}

#ingredients p {
	text-align: left;
	padding-left: .5rem;
	border-radius: 2px;
	background-color: #7ca711;
	max-width: 98%;
}

#nutrients p {
	text-align: left;
	padding-left: .5rem;
	border-radius: 2px;
	background-color: #FF5410;
	max-width: 98%;
}

/*Scanner CSS */

#qrImage {
	opacity: 0.5;
	width: 40%;
}


#cancelButton{
	font-size: 80%;
	margin-left: auto;
	margin-right: auto;
	display: block;
	background-color: #808080;
	color: #FFFFFF;
	width: 250px;
	height: 40px;

}

#scannerButtons{
	width: 90%;
	text-align: center;
	white-space: pre-line;
	margin: auto;
	margin-top: 1rem;
	font-size: 150%;
	color: #7ca711;
	background-image: url("../img/chalk.jpeg");
	border-style: solid;
	border-width: 6px;
	border-color: #C86D24;
}

#addButton{
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #BB061B;
	color: #FFFFFF;
	width: 250px;
	height: 40px;
}
