/* Empty. Add your own CSS if you like */

/*=============== FULL APP =====================*/

ion-view {
	background-image: url("/img/bos2.png");
	background-size: 100% 100%;
    /*background-repeat: no-repeat;*/
}

.padding {
	padding: 0;
}

/*=============== HOME =====================*/

/*.home-page {
	background-image: url("/img/bos2.png");
	height: 90vh;
	background-attachment: fixed;
}*/

#menu {
	margin: auto;
	width: 50%;
	text-align: center;
}

.home img {
	height: 200px;
	width: 200px;
	margin-top: 10px;
	margin-left: 10px;
	border-radius: 10px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

h1 {
	text-align: center;
	background-color: rgba(255, 255, 255, 0.85);
}

h1 img {
	height: 100px;
}

@media screen and (max-width: 840px){
	/*.home #menu {
		width: 70%;
	}*/
	.home img {
		height: 150px;
		width: 150px;
	}
}

@media screen and (max-width: 470px){
	.home #menu {
		width: 100%;
		padding-left: 5px;
	}

	#usr {
		width: 100%;
		margin-left: 10px;
	}
}

#usr {
	margin: auto;
	margin-top: 15px;
	width: 100%;
	color: #422919;
	font-family: "Noteworthy";
	font-weight: bold;
	font-size: 25px;
	text-align: center;
	position: absolute;
	z-index: 1;
}

#usr img {
	border-style: none;
	margin-top: -75px;
	margin-left: -150px;
	width: 300px;
	height: 100px;
	position: absolute;
	z-index: -1;
}

/*=======================================*/

/*============= DASHBOARD ===============*/